<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hurgent_hai_ios.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>13B08E7A89C22DFB594A380B8C5D5BDAA4AADBDD</string>
				<key>dateExpires</key>
				<string>01/02/1949 Saka</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13B08E7A89C22DFB594A380B8C5D5BDAA4AADBDD</string>
						<key>dateExpires</key>
						<string>01/02/1949 Saka</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UA2XD48GGH</string>
						<key>name</key>
						<string>Ankit Chauhan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13B08E7A89C22DFB594A380B8C5D5BDAA4AADBDD</string>
						<key>dateExpires</key>
						<string>01/02/1949 Saka</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UA2XD48GGH</string>
						<key>name</key>
						<string>Ankit Chauhan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13B08E7A89C22DFB594A380B8C5D5BDAA4AADBDD</string>
						<key>dateExpires</key>
						<string>01/02/1949 Saka</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UA2XD48GGH</string>
						<key>name</key>
						<string>Ankit Chauhan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13B08E7A89C22DFB594A380B8C5D5BDAA4AADBDD</string>
						<key>dateExpires</key>
						<string>01/02/1949 Saka</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UA2XD48GGH</string>
						<key>name</key>
						<string>Ankit Chauhan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13B08E7A89C22DFB594A380B8C5D5BDAA4AADBDD</string>
						<key>dateExpires</key>
						<string>01/02/1949 Saka</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UA2XD48GGH</string>
						<key>name</key>
						<string>Ankit Chauhan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13B08E7A89C22DFB594A380B8C5D5BDAA4AADBDD</string>
						<key>dateExpires</key>
						<string>01/02/1949 Saka</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geocoding_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UA2XD48GGH</string>
						<key>name</key>
						<string>Ankit Chauhan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13B08E7A89C22DFB594A380B8C5D5BDAA4AADBDD</string>
						<key>dateExpires</key>
						<string>01/02/1949 Saka</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UA2XD48GGH</string>
						<key>name</key>
						<string>Ankit Chauhan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13B08E7A89C22DFB594A380B8C5D5BDAA4AADBDD</string>
						<key>dateExpires</key>
						<string>01/02/1949 Saka</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UA2XD48GGH</string>
						<key>name</key>
						<string>Ankit Chauhan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13B08E7A89C22DFB594A380B8C5D5BDAA4AADBDD</string>
						<key>dateExpires</key>
						<string>01/02/1949 Saka</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>objective_c.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UA2XD48GGH</string>
						<key>name</key>
						<string>Ankit Chauhan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13B08E7A89C22DFB594A380B8C5D5BDAA4AADBDD</string>
						<key>dateExpires</key>
						<string>01/02/1949 Saka</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite_darwin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UA2XD48GGH</string>
						<key>name</key>
						<string>Ankit Chauhan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13B08E7A89C22DFB594A380B8C5D5BDAA4AADBDD</string>
						<key>dateExpires</key>
						<string>01/02/1949 Saka</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UA2XD48GGH</string>
						<key>name</key>
						<string>Ankit Chauhan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>UA2XD48GGH.com.urgent.hai</string>
				<key>com.apple.developer.team-identifier</key>
				<string>UA2XD48GGH</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0753f97f-6b21-4504-a524-56bc14cfde94</string>
				<key>dateExpires</key>
				<string>01/02/1949 Saka</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.urgent.hai</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>UA2XD48GGH</string>
				<key>name</key>
				<string>Ankit Chauhan</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
